/* @theme thinktecture */

@import "default";

section {
  justify-content: unset;

  width: 1920pt;
  height: 1080pt;

  font-family: Campton;
  font-size: 48pt;

  background: rgb(255, 0, 0);
  background: url("../themes/logo.svg"),
    linear-gradient(
      180deg,
      rgba(255, 88, 79, 1) 0,
      rgba(255, 88, 79, 1) 100pt,
      rgba(255, 255, 255, 1) 100pt
    );
  background-size:
    auto 65pt,
    cover;
  background-repeat: no-repeat;
  background-position-x: 96%, 0;
  background-position-y: 18pt, 0;

  padding: 60pt;
  padding-top: 160pt;
}

h1 {
  color: unset;

  font-size: 60pt;
  line-height: 60pt;
  padding: 0;
  margin-bottom: 50pt;
}

/* General List */
ul {
  padding-left: 40pt;
}
li {
  padding-left: 15pt;
}

/* Conclusion List */
ul ~ ul:last-child,
ol:last-of-type {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /* font-weight: 500; */
  list-style-type: "👉";
  padding-left: 3ch;
}
ul ~ ul:last-child li,
ol:last-of-type li {
  padding-left: 30pt;
}

/* Sub Lists */
ul ul,
ol ul {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.7);
}
ul ul li,
ol ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 1.3em;
}

/* Title Slide */
section.title {
  background: url("../themes/logo.svg"), url("../themes/t.svg"),
    rgba(255, 88, 79, 1);
  background-size:
    auto 166pt,
    auto 359pt,
    cover;
  background-repeat: no-repeat;
  background-position-x: 96%, 96%, 0;
  background-position-y: 60pt, 92%, 0;

  color: white;
  padding-top: 60pt;
}

section.title h1 {
  font-size: 70pt;
  margin-bottom: 20pt;
}

section.title h2 {
  font-size: 60pt;
  font-weight: normal;
  margin: 0;
}

section.title ul {
  font-weight: 500;
  margin-top: auto;
  list-style: none;
  padding: 0;
}

section.title ul li {
  margin: 0;
  padding: 0;
}

/* Section Slide */
section.section-slide {
  align-items: center;
  justify-content: center;
}

img {
  position: absolute;
  right: 60pt;
  top: 270pt; /* padding-top + h1 + h1.margin */
  max-height: 750pt;
  min-width: 600pt;
}

img[alt~="center"] {
  left: 50%;
  transform: translateX(-50%);
}

img[alt~="bottom"] {
  top: unset;
  bottom: 60pt;
}
